body{
    background-color: rgb(250, 250, 250);
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    background-image: url(../img/img3.jpg);
    background-size: cover;
}
.som{
    box-shadow: 4px 4px 2px 2px #000;
    background-color: rgb(255, 254, 254);
}

.tamano{
    height: 10%;
}

.color{
    background-color: rgb(252, 109, 7);
}
